!.gitignore
GameServer/target
GameServer/build
GameServer/.idea
GameServer/cache
GameServer/log
GameServer/*.iml
GameServer/*.log
GameServer/out
/GameServer/data/data.iml

ChatServer/target
ChatServer/build
ChatServer/.idea
ChatServer/cache
ChatServer/log
ChatServer/*.iml
ChatServer/*.log
ChatServer/out

LoginServer/target
LoginServer/build
LoginServer/.idea
LoginServer/cache
LoginServer/log
LoginServer/*.iml
LoginServer/*.log
LoginServer/out
